<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>nodejs</title>
  </head>
  <body>
  {{> header}}
    <p>this is the home page of the site</p>
{{> footer}}
</body>
</html>
